@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Quicksand:wght@500;600;700&display=swap');

html, body, #root, .app, input {
  height: 100%;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

* {
  transition-property: all;
  transition-duration: 200ms
}
